<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asusx453sa.YOGAADITAMA_1202152172_MODUL3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.asusx453sa.YOGAADITAMA_1202152172_MODUL3.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.asusx453sa.YOGAADITAMA_1202152172_MODUL3.Login" />
        <activity android:name="com.example.asusx453sa.YOGAADITAMA_1202152172_MODUL3.DaftarMinuman" />
        <activity android:name="com.example.asusx453sa.YOGAADITAMA_1202152172_MODUL3.DetailActivity"></activity>
    </application>

</manifest>